*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;

}

.Main-container{
    min-height: 100vh;
}
.Main-container > h1{
    position: relative;
    top: 15px;
}